# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.*
!.env.example
.venv/
env/
venv/
myenv/

# Project Output/Data
output/

# IDE files
.vscode/
.idea/

# Security, Credentials & SSH Keys
*.pem
*.key
*.cer
*.crt
*.pub
